[2020-07-03 12:56] kaashyapan opened #1 "Bigint fields generated as string"
Thanks for sharing another great project!
I was playing around with this and noticed that bigint fields are translated to String in the generated code. Is this by design ?

Field `id` is a bigint in the schema and a string in the generated code.

Relevant portion of schema.graphql.

[code]
From query.gql
[code]

In Types.fs

[code]
From generates Query.fs
[code]

[2020-07-03 13:03] kaashyapan commented on #1
I just noticed that bigint is not in the original Graphql spec.
Sorry.

[2020-07-03 13:03] #1 closed

[2020-07-09 14:25] njlr opened #2 "Why a GraphQL endpoint rather than a schema file?"
Why does the tool require a running endpoint or the output of the introspection query?

Wouldn't the GraphQL schema be enough?

This would make the build process simpler.

[2020-07-09 14:34] njlr opened #3 "Control over GraphqlClient type name?"
Suppose I have a config like this:

[code]

Then my generated project will have a type like this:

[code]

The `namespace` is what I expected but the type name of the client is a bit cumbersome.

**Is there a way to control the type name of the client?**

For example:

[code]

[2020-07-09 16:19] Zaid-Ajaj commented on #2
Because a lot of the times you don't have control of the schema and you only have a running GraphQL backend

Actually, if you have you a schema file definition, then that can be your input for the `schema` configuration. Just put the schema definition in a file with a `.gql` or `.graphql` extension and point the `schema` config to that file:
[code]

[2020-07-09 16:24] Zaid-Ajaj commented on #3
Right now there isn't a way but I accept PRs regarding these things :smile:

Maybe we can add a `overrideClientName` attribute of type string which will do just than or simply remove the project prefix from the `GraphqlClient` type (i.e. adding a config `removeProjectPrefix` of type `bool`)

[2020-07-10 08:12] njlr commented on #3
PR: https://github.com/Zaid-Ajaj/Snowflaqe/pull/4

[2020-07-10 08:15] njlr commented on #2
Makes sense!

PR for the docs: https://github.com/Zaid-Ajaj/Snowflaqe/pull/5

[2020-07-10 09:00] Zaid-Ajaj commented on #2
Fixed and the docs are now in the README

[2020-07-10 09:00] #2 closed

[2020-07-10 09:01] Zaid-Ajaj commented on #3
Added and published as of v1.4 :rocket:

[2020-07-10 09:01] #3 closed

[2020-07-11 21:04] MargaretKrutikova opened #6 "Readme instructions don't work"
The first thing to do according to the instructions is `dotnet install snowflaqe -g`, which fails.
The correct one is `dotnet tool install snowflaqe -g`, found it [here](https://fable.io/blog/Introducing-Snowflaqe.html).

Any chance the readme could be corrected?

[2020-07-11 21:17] MargaretKrutikova opened #7 "How to use the generated code?"
The readme shows how to generate the code, but not how to actually send the graphql queries and use the generated types. Also, do I have to manually include the generated code in the project file?
Really appreciate some instructions on this!

The tool works flawlessly otherwise 🙂

[2020-07-11 23:17] #6 closed

[2020-07-11 23:18] Zaid-Ajaj commented on #6
Hi @MargaretKrutikova, thanks a lot for pointing the silly mistake, really appreciate it 🙏 It is now fixed and the README shows the correct install command

[2020-07-11 23:37] Zaid-Ajaj commented on #7
Hi @MargaretKrutikova, let me walk you through this. Suppose you have the following config:
[code]

Then when you run `snowflaqe --generate`, it will create a full *F# Project* within the `./generated` directory with of the name `Artsy`. You should be able to see a project file at the path `./generated/Artsy.fsproj`. This project includes types for queries and also a *client* type with methods for

[2020-07-12 07:59] MargaretKrutikova commented on #7
Hi @Zaid-Ajaj !

Thanks a lot for the explanation, I made my first mutation to work now 😀  I got confused when I saw a lot of generated files but missed the project file itself, so I thought I had to manually include them in my main project 🤦‍♀️

Anyway, everything is working very smoothly with `Snowflaqe`, if you have time, it would be very helpful to include an actual sample project in the repos

[2020-07-12 07:59] #7 closed

[2020-07-12 14:28] MargaretKrutikova opened #8 "Mapping of custom scalars"
I am using `hasura` graphql api and for dates it generates custom scalars like `date` and `timestamptz`, which get mapped to the same types in F#, but there are no such types in F# 🙂

Is there any way to provide custom mapping for those scalar types to F# types? I would happy even with strings there, but for now nothing compiles 🙂

Thanks!

[2020-07-12 14:47] Zaid-Ajaj commented on #8
Hi @MargaretKrutikova, I believe custom scalars compile to strings if they are not recognized. Can you please elaborate more on your issue? Are the types not being generated at all or the is the generated code not compiling at all?

[2020-07-12 15:00] MargaretKrutikova commented on #8
Yes, I should have been more specific. Types of query and mutation parameters don't get compiled to string.
If custom scalar types are used in the response, they are indeed compiled to strings.

[2020-07-12 16:56] Zaid-Ajaj commented on #8
I see, so parameter types are not mapped to strings. Do you happen to have a sample schema and sample query/mutation that I can debug against? If the types are date and timestamptz and they are transferred as ISO-8601 dates then we should be able to map those to DateTime for date and DateTimeOffset for timestamptz

[2020-07-12 17:14] MargaretKrutikova commented on #8
Yes, here is the schema, and a query you can test against:
[code]
[schema.txt](https://github.com/Zaid-Ajaj/Snowflaqe/files/4908913/schema.txt)

[2020-07-12 17:22] Zaid-Ajaj commented on #8
Awesome, thanks a lot! This is enough information for me start debugging the issue. I will work on it soon and will keep you posted :smile:

[2020-07-12 17:25] MargaretKrutikova commented on #8
Great, thanks a lot! 🙂

[2020-07-12 21:35] #8 closed

[2020-07-12 21:45] Zaid-Ajaj commented on #8
Hi @MargaretKrutikova, I just published a new version of Snowflaqe and your issue should now be resolved as of v1.5 :rocket:

I was able to reproduce the problem where a custom scalar type like `timestamptz` was being *as is* in the generated code for the input variables which of course breaks the whole project because such type is not recognized in F#. I fixes this problem by:
 - Making sure cust

[2020-07-13 09:42] njlr opened #9 "Issue with query validation?"
My schema:

[code]

My query:

[code]

But I get a validation error:

This is unexpected since `id` and `$id` have the same type (`ID!`).

[2020-07-13 09:50] njlr commented on #9
It works if I change `ID!` to `String!`, so it's probably just a missing case somewhere.

[2020-07-13 09:54] njlr commented on #9
If I had to guess, it's probably here: https://github.com/Zaid-Ajaj/Snowflaqe/blob/14449d5343688bbe16b6eabcba9b4baa08905528/src/Query.fs#L329 (no case for `"ID"`)

[2020-07-13 10:30] #9 closed

[2020-07-13 10:31] Zaid-Ajaj commented on #9
Hi @njlr, thanks a lot for filing the issue with the relevant debug information. Indeed I missed a case in the validation code but it should be fixed as of v1.5.1 :smile:

[2020-07-13 15:03] MargaretKrutikova commented on #8
Just verified that everything works properly with the new version. Thanks a lot for your hard work! 🙂

[2020-07-14 07:54] MargaretKrutikova opened #10 "Reusing fragments between several queries"
It would be nice to be able to define fragments in separate `.gql` files and then use them across several queries and mutations. However, if a `.gql` file contains only fragment, I get an error "No query was provided".

Is there a way to use fragments with `snowflaqe` so that it can generate a shared type in `F#` and then use it in other types for queries?

[2020-07-14 08:24] Zaid-Ajaj commented on #10
Hi @MargaretKrutikova,

No, this is quite a tricky and difficult feature for several reasons. The main one is that when fragments become their own shared type, they don't play well when being used in a query because they are *spread* and they merge with the resulting type. Right now, the fragments  are expanded immediately when they are used in a query like this:

![EXno-t_XkAAB-bJ](https://user-i

[2020-07-21 17:04] mattsonlyattack opened #12 "Similar to your comment about unions not be implemented yet, what about interfaces?"
This works when querying github, though snowflaq cannot validate it w/"unknown field author"

[code]

[code]

** this could just be me not knowing much about graphql...

[2020-07-21 17:14] mattsonlyattack commented on #12
this should be close but probably not exact to our github enterprise version - https://raw.githubusercontent.com/octokit/graphql-schema/master/schema.json

[2020-07-21 17:50] Zaid-Ajaj commented on #12
Hi @mattsonlyattack, it is correct that GraphQL interfaces aren't supported. After having checked out the query and the schema, it looks like it "should" be doable to generate correct types from this particular query when you are asking for common fields on the interface itself. However, once you start using concrete type query fragments it becomes as complicated as with the GraphQL  unions. For e

[2020-07-21 18:23] mattsonlyattack commented on #12
Hope this helps.

query:
[code]
response:
[code]

[2020-07-21 20:09] Zaid-Ajaj commented on #12
@mattsonlyattack Thanks a lot for the sample queries! I think I know now where to look to find a solution. I am afraid however that it will be quite the challenge to implement this feature. I can't promise a timeline but I will definitely look into it soon

[2020-07-23 19:27] Zaid-Ajaj commented on #12
Alright, fixed the first part of the problem with JSON deserialization in Fable [Implement deserialization heuristic with union of records](https://github.com/Zaid-Ajaj/Fable.SimpleJson/pull/51)

Now I need to do the same for the dotnet deserializer, tracked in this issue [Extend Fable.Remoting.Json with heuristics for unions of records](https://github.com/Zaid-Ajaj/Fable.Remoting/issues/169)

The

[2020-07-26 23:05] #12 closed

[2020-07-26 23:11] Zaid-Ajaj commented on #12
Hi @mattsonlyattack,

It has been a long and exciting weekend. I think I have got this implemented like it should 😁 Snowflaqe now understands both GraphQL interfaces and unions, generates the corresponding F# union types and verifies the used fields just like it does with objects. The only requirement is that the subtypes both on interfaces and unions must now add a `__typename` field and will oth

[2020-07-27 14:08] mattsonlyattack commented on #12
Wow, very productive weekend!

The results from the server exactly match my query results in postwoman, and I'm able to inspect the query results and so far the data is looking great. So cool, thank you!

I did start w/an invalid query by accident, and my query result matched on Ok, wondering if it should have been an Error instead? Maybe a useful test case, or maybe I'm thinking wrong.

Here is m

[2020-07-27 14:33] Zaid-Ajaj opened #14 "Validate inline fragments on GraphQL objects"
Using an inline fragment with type condition should be validated when used as part of the selection set of a GraphQL object. Sample incorrect query (see [this comment](https://github.com/Zaid-Ajaj/Snowflaqe/issues/12#issuecomment-664419104))
[code]

[2020-07-27 14:37] Zaid-Ajaj commented on #12
Hi @mattsonlyattack,

I have created an issue to validate the incorrect query.  As for the interfaces, it seems like I make a small mistake by only including the types to generated F# union case which are used in the inline fragments as opposed to adding all subtypes of the interface to the generated union (which also means the `__typename` will now be required on interface field selections as wel

[2020-07-27 15:03] Zaid-Ajaj commented on #12
Alright, I fixed the issue with the subtyping of interfaces and pushed a new package as of v1.7.0 🚀 can you please update and try it out?

[2020-07-27 15:33] mattsonlyattack commented on #14
Pulled down 1.7.0 and re-generated, getting an NRE on x.organization
![image](https://user-images.githubusercontent.com/66547/88561128-fe194a80-cffc-11ea-8bd5-6ca60cebe352.png)

[2020-07-27 15:50] Zaid-Ajaj commented on #14
Hmm this is using the fsharp target as I can see 🤔 can you please provide more info for me to debug? I need the module of the generated types for `GetPullRequests` as well a sample JSON returned from the GraphQL endpoint (you can get that by modifying the `GraphqlClient` member `GetPullRequests` and have print the JSON to the console or to a file before it is actually deserialized.  (This seems to

[2020-07-27 15:57] Zaid-Ajaj commented on #14
This is kinda weird actually. An NRE should never occur because we are only using records, unions, options and lists. Can you please run `printfn "%A" res` before pattern matching against the results?

[2020-07-27 17:00] mattsonlyattack commented on #14
`Ok null`
![image](https://user-images.githubusercontent.com/66547/88569916-23ac5100-d009-11ea-81de-1c37208e9c53.png)

I'll work on your previous comment.

[2020-07-27 17:16] mattsonlyattack commented on #14
It's a 200 back from GHE w/the errors payload, so it doesn't try to deserialize into `GraphqlErrorResponse`.

[2020-07-27 17:52] Zaid-Ajaj commented on #14
Should be fixed as of v1.7.1 now the generated will check for potential errors even when the HTTP response is 200 (Only on F# code gen target like the one you are using)

[2020-07-27 19:48] mattsonlyattack commented on #14
Compile error ` type Organization` is duplicated
Organization doesn't directly have an author from what I can tell.
The Author option references the type OrganizationAuthor which I think was supposed to be the name of the line #33 type?

![image](https://user-images.githubusercontent.com/66547/88585017-88bf7100-d020-11ea-93c5-e1249f1e90fe.png)

[2020-07-27 19:48] #14 closed

[2020-07-27 19:52] Zaid-Ajaj commented on #14
I just fixes is particular issue and now the query above is properly validated when using incorrect inline fragments.

Organization doesn't directly have an author from what I can tell.
The Author option references the type OrganizationAuthor which I think was supposed to be the name of the line #33 type?

Yeah you are right, looks like one more issue to go, I think I know why this is happening. T

[2020-07-27 20:05] mattsonlyattack commented on #14
I feel like I'm bugging more than debugging lol

[2020-07-27 20:52] Zaid-Ajaj commented on #14
No, feedback from real use cases are really valuable and I couldn't otherwise fix all of these problems without your input :wink: In any case, I just released another fix for the naming collisions as of v1.7.3 and this time I've added integration tests for the Github schema that generate and compile a project based on your GraphQL queries so now we know for sure it works without accidentally break

[2020-08-09 22:35] Zaid-Ajaj commented on #10
Hi @MargaretKrutikova, is this still a problem for you? The workaround right now is to rewrite the fragments across the queries when you need them. I can look into making fragments shared across all queries: when you define a fragment anywhere, it can be used anywhere else but then *you* will have to make sure that the fragment names are unique in all query files. I am still not sure if this is a

[2020-08-10 14:41] landy opened #18 "Support generated projects with dots in the namespace"
Hello Zaid, I've encountered some "strange" behaviour. When I define Snoflaqe.json file like this
[code]
then the namespaces in the generated project are created in quotes like this
[code]
and project in this state throws compilation errors.

Is this "by design" or did I encountered some bug?

It can be solved by removing the dots from the project name but then I endup with project whose name does

[2020-08-10 14:51] Zaid-Ajaj commented on #18
Hi there @landy,

Currently this is by design because I tend to choose the simplest defaults. Having dots in the project file _sounds_ like something easy but it complicates the project structure quite a bit. I can look into it sometime soon but I can't promise a timeline. I do however accept PRs in case you are feeling adventurous and want to take a stab at it :wink:

[2020-08-10 14:58] landy commented on #18
Thank you for a quick response! 👍  I will look into it if I have some free time. Currently it's just a minor thing in a personal side project so nothing major really :)

[2020-08-10 15:03] Zaid-Ajaj commented on #18
Sounds great! I will reopen the issue for now so that I don't forget about it :smile:

[2020-08-11 09:37] #18 closed

[2020-08-11 09:40] Zaid-Ajaj commented on #18
Hi @landy, the issue turned out to be relatively doable. A project name with dots in it should be supported as of Snowflaqe v1.9 :rocket: You can update the version as follows:
[code]
Let me know if something doesn't work for you :wink:

[2020-08-11 10:19] landy commented on #18
wow! 🥇  I will give it a try. Thank you

[2020-08-13 23:46] Zaid-Ajaj opened #19 "Add option to include CopyLocalLockFileAssemblies in generated project"
Specifically to fsharp/dotnet code generation target:
[code]
Maybe a nice generic way to include multiple project items would be nice too

[2020-08-14 14:13] Zaid-Ajaj commented on #19
Fixed as of Snowflaqe v1.10

[2020-08-14 14:13] #19 closed

[2020-08-15 08:22] landy commented on #18
Works like a charm! Thanks again 👍

[2020-08-17 16:31] MargaretKrutikova commented on #10
Hi! I am sorry for the late response!
No, it is not a problem for me, was just wondering if there was a way of defining fragments 🙂

[2020-08-17 22:19] Zaid-Ajaj commented on #10
That settles it then @MargaretKrutikova :smile: if this becomes a real usability issue for Snowflaqe, I will have another look at it but for now I will be closing the issue.

[2020-08-17 22:19] #10 closed

[2020-10-30 10:21] gaku-sei opened #23 "Send more compact query"
It seems that Snowflaqe currently sends the exact GraphQL queries and mutations as the ones defined in the GraphQL files. So given this query:

[code]

This code will be generated in the `GraphqlClient` module:

[code]

Which has 2 drawbacks:
1. The sent payload will be heavier (since it includes line returns and spaces)
2. Some servers' libraries (like Elixir's Absinthe) don't support queries con

[2020-10-30 11:03] Zaid-Ajaj commented on #23
Hi there @gaku-sei,

Currently there isn't an option to minify the the input query because usually size of the query itself isn't so much of a problem the problem with all the whitespace.

This is very interesting, I never thought that such limitation of a server would be a thing because, you know, whitespace is allowed according to the [specs](https://spec.graphql.org/June2018/#sec-Source-Text.Ig

[2020-10-30 15:42] Zaid-Ajaj commented on #23
@gaku-sei Before I look at the technical details of making compact queries, can you please test to see for yourself whether queries in their full form don't already work with Elixir's Absinthe?

The generic JS client [docs](https://hexdocs.pm/absinthe/javascript.html#over-http) don't mention compact queries and say the server will work with any client (like the one Snowflaqe generates)

[2020-10-31 03:20] gaku-sei commented on #23
Hello @Zaid-Ajaj 😄

Sorry, my first port wasn't clear enough about the issue ^^
So the issue is not that the graphql query contains whitespaces or line returns but that the latter are not escaped in the payload (line returns are not accepted in JSON strings byt most JSON libraries 😕 ). So The idead would be whether to inline the query or to escape the line returns. And while at it, I wondered if i

[2020-10-31 04:18] Zaid-Ajaj commented on #23
Can you please elaborate with an example payload fails when serialized or is serialized incorrectly? `Json.serialize` doesn't even generate line returns or intendentation between in the JSON structure but it does generate valid JSON

[2020-10-31 05:20] gaku-sei commented on #23
Sure I will post a full reproduction as soon as possible 👍

[2020-10-31 10:10] Zaid-Ajaj commented on #23
You are right @gaku-sei I just did some test and indeed Fable.SimpleJson needs to properly escape the characters, thanks for the example. (Btw, when you update your message, I don't get notifications, so feel free to comment more so that I can answer you quickly :wink:)

[2020-10-31 10:22] Zaid-Ajaj commented on #23
Just pushed version v1.12 of Snowflaqe which references version 3.16.2 of SimpleJson that implements proper string escaping.

Can you please take it for a spin and let me know if the issue is resolved? Thanks! 🙏

[2020-11-01 09:13] #23 closed

[2020-11-01 09:29] Zaid-Ajaj commented on #23
Awesome, thanks for the confirmation! If you come across any more issues, please let me know 🙏

[2020-11-01 09:30] Zaid-Ajaj commented on #23
Awesome, thanks for the confirmation! Please let me know if you encounter any more issues 🙏

[2020-11-01 09:52] gaku-sei commented on #23
That was a very fast fix!! Thank you very much @Zaid-Ajaj it works like a charm now 🎊

Sure, I wasn't aware of this, I will do that next time 😄

[2020-11-25 14:53] njlr opened #24 "Discussion: annotation / auto-conversion / post-processing GraphQL responses into domain types?"
This is more of a question and discussion rather than a bug.

Let's say I have a custom type in my model like this:

[code]

All good idiomatic F#.

Now, in my GraphQL endpoint, the product ID is encoded as GraphQL `ID`, which is just a string.

So for a query like this:

[code]

GraphQL might return this:

[code]

Snowflaqe will (correctly) generate F# code that is something like this:

[code]

I

[2020-11-26 16:47] Zaid-Ajaj commented on #24
Hello @njlr, this is a very good question:

Currently there isn't any way because we rely on `Fable.SimpleJson` to automatically and exactly parsing the JSON into the generated types without needing any configuration. In fact, `SimpleJson` understand GraphQL types and how they should be mapped (for example a GraphQL interface or union maps to a discriminated union of record type for each case).

N

[2021-01-24 17:26] MarkNicholls opened #25 "query DSL"
Hello,

not a problem, just questions.
I've run this against a hot chocolate server, and worked a treat...but the generated project is hard wired into Fable? What if I just want a vanilla core application?

I'm also interested to know, is there a DSL or maybe there's a DSL available in another library (hmmm..not sure how that would work), but I don't want to write Graphql and then generate/validat

[2021-01-25 10:28] MarkNicholls commented on #25
ah just noticed the documentation about the non fable implementation I'll give that a go.

still interested in a DSL though...i.e. more like EF than dapper.

[2021-02-04 08:40] Zaid-Ajaj commented on #25
Hi there, glad to hear Snowflaqe worked for you 😄

About the DSL, I don't think I have any plans to implement one. I understand why but I believe the GraphQL syntax is a good DSL on its own where we don't need another layer of complexity in the project. I also like the fact that you can just copy and paste the query you have from any GraphQL playground and have Snowflaqe generate the code accordin

[2021-02-04 08:40] #25 closed

[2021-02-04 11:08] MarkNicholls commented on #25
Ok, fair enough.
So you're not interested if I wrote one? which I probably wont, but you never know.

[2021-02-04 12:20] Zaid-Ajaj commented on #25
I don't think a DSL would work in the first place because the query has to be available at build time but a F# DSL needs to be interpreted at runtime to generate the underlying GraphQL query first before actually generating the corresponding code from Snowflaqe. Unless you don't want to actually have typed responses but that goes against the idea of this project

[2021-02-04 12:32] MarkNicholls commented on #25
I was envisaging snowflaqe just generates the model, like scaffolding a EF model from a database.
The value (to me) is that when someone changes the server, I just rescaffold the model, all the queries I've defined that no longer "work" don't compile....I think graphql queries are functors, where the maps are costrained to be maps to child attributes or queries on references, you could do it in IQ

[2021-02-04 12:56] Zaid-Ajaj commented on #25
It is technically possible to do this: take the server schema and generate a DSL from which queries can written as `IQueryable` but that is so much more work than we already have here with the same benefits: run Snowflaqe again to re-generate the client to see whether the queries are correct and whether anything has breaking changes. The project won't compile if fields are removed or their types c

[2021-02-27 06:53] houstonhaynes opened #26 "not able to process GitHub schema file"
I'm hitting a few bumps in the road while trying to run it. The hitch seems to be with parsing the schema file. I've tried two examples. First was the one I gathered from the FSharp.Data.GraphQL sample. It had a commenting style that was triple-double-quoted above and below each line.

`Reading configuration from C:\repo\GitHubGraphQL\snowflaqe.json
⏳ Loading GraphQL schema from ./schema.docs.grap

[2021-02-27 08:58] Zaid-Ajaj commented on #26
Hi @houstonhaynes, thanks for the issue report. I will try to figure out why the introspection results aren't working 😓

[2021-02-27 10:39] Zaid-Ajaj commented on #26
There is something funny going on with the schema file. I was just debugging the parsing logic. It does fail but it is because the schema is missing some crucial information about the objects and their types. I already have a sample Github schema that I run my tests against and it has this type for example:

This is a piece of my local schema.json file generated from Github's API
[code]
However, t

[2021-02-27 11:56] houstonhaynes commented on #26
So the short answer is yes. Just to make sure I pulled the one linked here and diffed it. The queries match. I just re-ran the introspection query and diffed the result against what I saved last night (local time) and it's WILDLY different. It's lit up like Christmas. SO OF COURSE running it this morning it worked without a hitch. Geez I feel like the person who takes their car to the shop to have

[2021-02-27 11:56] #26 closed

[2021-02-27 12:14] houstonhaynes opened #27 "Errors on --generate (I have no \projects or \repo\Azure directories)"
My repo is in C:\repo. I don't have a C:\repo\Azure path. I also don't have a C:\projects path. Should I be rebuilding Snowflaqe from source so that it has the right dependency paths?

`PS C:\repo\GitHubGraphQL> snowflaqe --generate

     _____                      __ _
    /  ___|                    / _| |
    \ `--. _ __   _____      _| |_| | __ _  __ _  ___
     `--. \ '_ \ / _ \ \ /\ / /  _| |

[2021-02-27 12:16] houstonhaynes commented on #27
My snowflaqe.json

`{
    "schema": "./schema.docs2.json",
    "queries": "./queries",
    "project": "GitHubGQL",
    "output": "c:/repo/",
    "target": "fsharp"
}`

[2021-02-27 12:19] Zaid-Ajaj commented on #27
When you generate the code into a directory, Snowflaqe cleans the directory if it is not empty. So you basically tried to delete `c:/repo/` and everything inside. I suggest you use an empty directory *relative* to the project you are working on:
[code]

[2021-02-27 12:32] houstonhaynes commented on #27
oh yeah that would have been bad (though most things are sync'd up) 😁😲🎭

[2021-02-27 12:33] #27 closed

[2021-03-13 23:10] #24 closed

[2021-03-22 15:02] OttoBos opened #28 "Add comment to indicate auto-generated code"
Hi, would be good if the auto-generated code would contain some comment header to indicate it was auto-generated by snowflaqe, maybe even including the date / GraphQL URI / name of query file, and a link to the snowflaqe repo of course.
This would avoid people manually editing these files.

[2021-03-22 15:54] Zaid-Ajaj commented on #28
Hi @OttoBos, this sounds like a good idea. I'll add it as a configuration option sometime soon 😄

[2021-03-23 20:24] #28 closed

[2021-03-23 20:27] Zaid-Ajaj commented on #28
Fixed as of v1.19 🚀 Snowflaqe will now emit code generation metadata when when the option `emitMetadata` is set to `true`
[code]
This option is set to `false` by default when you do not provide in the configuration.

[2021-03-28 11:36] Zaid-Ajaj opened #29 "Implement error handling option: "result" | "exception" for the fsharp target"
Right now, the client methods generated per query come in two flavors and both return `Result`:
 - Asynchronous call returns `Async<Result<Query, ErrorType list>>`
 - Synchronous call returns `Result<Query, ErrorType list>`

Sometimes, using `result` can be tricky where users don't necessarily care about handling errors each request. A `try-catch` block might more suitable.

To improve the situati

[2021-03-28 22:25] xperiandri opened #30 "Merge GraphQL support efforts"
Currently we have your amaring client as generator and github.com/FSProjecrs/FSharp.Data.GraphQL as server and type provider.
Maybe it worse to merge efforts and integrate both projects together?

[2021-03-28 22:48] Zaid-Ajaj commented on #30
Hi there @xperiandri,

How do you imagine merging the efforts? To me, Snowflaqe is pretty much a standalone project for consuming GraphQL endpoints regardless of a specific backend type (FSharp.Data.GraphQL or otherwise).

Would be happy to accept PRs / contributions to Snowflaqe directly :wink:

[2021-03-29 13:03] Zaid-Ajaj opened #31 "Implement async handling option: "async" | "task" for the fsharp target"
Basically:
[code]
Where `async` is the default. To make the generated functions either return `Async<'T>`  or `Task<'T>`

For the latter you would need to include `Ply` as a dependency to the generated F# project.

Related to #29

Might need a better API for generating the projects and their packages.

[2021-03-29 13:06] Zaid-Ajaj opened #32 "Maintenance: remove BlackFox.ColoredPrintf package in favor of Spectre.Console"
Because `BlackFox.ColoredPrintf` doesn't seem to be maintained anymore and emits compatibility warnings when used with FSharp.Core v5.0

[2021-03-29 21:37] xperiandri commented on #30
I suppose that your code can be reused in GraphQL client type provider

[2021-03-29 22:15] Zaid-Ajaj commented on #30
That won't work. The code used here generates records and union types which type providers ironically don't support. Not to mention making the type provider compatible with Fable is a huge pain in the back, compared to the situation now where things just work out of the box

[2021-04-05 21:52] #30 closed

[2021-04-05 21:55] xperiandri opened #33 "Put types into a namespace instead of module"
Putting types into a module is not a good idea. As it causes some issues with their consumption from WPF/UWP/Uno

[2021-04-05 22:03] xperiandri opened #34 "Generate props file with referenced fs files"
It would be nice to have a props file generated. This will allow scenario:

client.fsproj: `<Import Project="output/generated.props" />`

/output
    \<generated F# files\>
    \<project name\>.props
[code]

[2021-04-05 22:04] xperiandri opened #35 "MSBuild task"
With regard to #34 it would be nice to have an MSBuild task that can be invoked on-demand within a client project

[2021-04-05 22:05] xperiandri opened #36 "Use System.Text.Json and FSharp.SystemTextJson instead of Newtonsoft"
https://github.com/Tarmil/FSharp.SystemTextJson/

[2021-04-05 22:26] Zaid-Ajaj commented on #33
Hi @xperiandri, can you tell me more about this issue? The global types are included as part of a namespace and the query-specific types are in a module _inside_ that same namespace

[2021-04-05 22:29] xperiandri commented on #33
You cannot instantiate nested types in XAML. For example to use as sample data to display on designer

[2021-04-05 22:39] Zaid-Ajaj commented on #36
Unfortunately, this is a bit of a really hard requirement. Snowflaqe uses `Fable.Rempting.Json` (which uses Newtonsoft.Json underneath) to handle the JSON serialization and deserialization. The thing about `Fable.Remoting.Json` is that it knows how to handle GraphQL unions and interfaces by default using a `__typename` discriminator (which is a required field to select in your GraphQL query). See

[2021-04-05 22:46] Zaid-Ajaj commented on #36
Oh I forgot to mention that `Fable.Remoting.Json` also handles `[<StringEnum>]` attribute for GraphQL enums that allows to normalize their names
[code]

[2021-04-05 22:47] Zaid-Ajaj commented on #33
I see, that makes sense. Let me try to see what I can do

[2021-04-05 22:52] Zaid-Ajaj commented on #34
That looks like a doable improvement. Preferably via an option `["generateProps"]: <true | false>` where `false` is default.

I am not sure how the `props` file will look like though, can you provide a full example?

[2021-04-05 22:53] Zaid-Ajaj commented on #35
A msbuild task to invoke `snowflaqe`? Not sure how that would look like 🤔 can you tell me more?

[2021-04-06 19:27] xperiandri commented on #34
The file extension can be any. Content matters.
It will be something like:
[code]

That is all.

The main point is to include files in the right order and do not do that manually.

[2021-04-06 19:27] xperiandri commented on #34
Just a piece of `fsproj` extracted to separate file and auto-generated

[2021-04-06 19:57] xperiandri commented on #35
This is an excellent tutorial https://natemcmaster.com/blog/2017/07/05/msbuild-task-in-nuget/

Then you will include it like this
[code]

Or without trigger and then execute via https://marketplace.visualstudio.com/items?itemName=saaseev.MsBuildTaskExplorer
[code]

Actually, I expected that it will appear in
![image](https://user-images.githubusercontent.com/2365592/113770522-e321dd00-972a-11eb-84

[2021-04-06 19:58] xperiandri commented on #36
Can it be done as a generator option?

[2021-04-06 20:07] Zaid-Ajaj commented on #36
Yes it can be but as mentioned above, it will extra logic to handle enums that use `[<StringEnum>]` and somehow understand GraphQL unions / interfaces when it comes to the `__typename` discriminator. Otherwise it won't work. Ideally, I don't want to ship an option to enable a faster JSON library that _isn't_ guaranteed to work for all GraphQL queries. If you plan on implementing such huge undertak

[2021-04-06 20:09] xperiandri commented on #36
__typename can be handled using FSharp.SystemTextJson

[2021-04-06 20:12] Zaid-Ajaj commented on #35
Thanks for the references, I will have to think about. Generally speaking, this option is easily enabled without MSbuild automation but simply as part of a build script
[code]
I recommend users to generate the client project by hand rather than being hidden away in msbuild (and having to publish a separate package for it too)

[2021-04-06 20:15] xperiandri commented on #35
Considering the usage of this generator I assume that in my client project there will be a folder out of version control with generated code.
Each developer and CI pipeline will generate code from scratch on their device.

[2021-04-06 21:02] Zaid-Ajaj commented on #35
Actually, in my projects I commit the generated code to the source control and don't require other developers to regenerate the client unless they are actively working on it and are changing the queries. That is the easiest way to use the project without extra config

Although you can still do it via a simple command line `dotnet snowflaqe --generate` before any other build script, I think *requir

[2021-04-06 21:05] Zaid-Ajaj commented on #36
Let's discuss an implementation first. I think it would be better to start off with building a better testing infrastructure for this project where we generate, run and test the (generated) code against a live GraphQL server which returns all these different kinds of results.

[2021-04-06 21:16] xperiandri commented on #35
I commit schema into repository.

[code]

[code]

[code]

[code]

[2021-04-06 21:27] xperiandri commented on #36
Could you point me to the core places where Newtonsoft is used?

[2021-04-06 21:48] Zaid-Ajaj commented on #35
Interesting approach. I see you are updating the offline introspection schema _in your tests_ and that the tests are failing when there are new types in the server schema but not in the client schema? A lot of the times server schema changes are just compatible with the current client schema and the client doesn't need to update. for example a new field added to a type, a new type, a new mutation

[2021-04-06 21:53] Zaid-Ajaj commented on #36
First of all, a package reference is added [here](https://github.com/Zaid-Ajaj/Snowflaqe/blob/master/src/CodeGen.fs#L1000) which you now change to use FSharp.SystemTextJson instead. Then the only places where it used is inside the [generated client](https://github.com/Zaid-Ajaj/Snowflaqe/blob/master/src/CodeGen.fs#L1133-L1135) and its members such as [this one](https://github.com/Zaid-Ajaj/Snowfla

[2021-04-08 13:24] anthony-mi commented on #34
I want to realize this opportunity. How to name the key that will switch generation between fsproj and props?

[2021-04-08 13:28] anthony-mi commented on #34
I would like to use StringBuffer
[code]
Can I add it to the project?

[2021-04-08 13:29] anthony-mi commented on #34
I would like to generate fsproj using XDocument, XElement. Can I rewrite the generation on them?

[2021-04-08 13:30] Zaid-Ajaj commented on #34
Hi @anthony-mi maybe I didn't understand the issue correctly, does this _replace_ the fsproj entirely? if so, what about the external dependencies that the project uses, specifically `Fable.Remoting.Client`?

[2021-04-08 13:32] Zaid-Ajaj commented on #34
That would be a nice improvement to the current API (which uses strings) to build the project file but that is a separate issue

[2021-04-08 13:32] xperiandri commented on #34
It depends on your intent. If you want to go away from `fsproj` to props as I propose than we do that

[2021-04-08 13:32] xperiandri commented on #34
But if you wan to keep the ability to have full project, then we need to introduce a switch

[2021-04-08 13:32] xperiandri commented on #34
What is your opinion?

[2021-04-08 13:35] Zaid-Ajaj commented on #34
There is already a switch called `target` which takes `<fable | fsharp | shared>` to which we can add `propsFile` or just `props` as another type of target but the question remains, what do you do with the external dependencies that are added and used in `GraphqlClient.fs`?

[2021-04-08 13:35] xperiandri commented on #34
They can be added to props also

[2021-04-08 13:36] xperiandri commented on #34
But it is better to add them manually

[2021-04-08 13:36] xperiandri commented on #34
To the project file

[2021-04-08 13:37] xperiandri commented on #34
But `props` can be generated for any target

[2021-04-08 13:42] Zaid-Ajaj commented on #34
So it is not just the files
[code]
but also with package references added
[code]
is that correct?

[2021-04-08 13:45] xperiandri commented on #34
Yes we can do that. But I think that this 2 dependencies any developer can ad himself into his project as well as `<Import Project="GraphQLClient.props" />`

[2021-04-08 13:54] Zaid-Ajaj commented on #34
I would rather have snowflaqe decide which dependencies are used because they are tied to the code generation. If a I fix something in the serializer and update snowflaqe to a new version, they would get the new version with the proper dependency versions etc.

[2021-04-08 13:56] xperiandri commented on #34
That's fine, developer can override it in consumption project any way

[2021-04-08 13:57] xperiandri commented on #34
Do you approve `stringBuffer` and `XDocument`?

[2021-04-08 14:07] Zaid-Ajaj commented on #34
`stringBuffer` I don't mind, `XDocument` yes please! 🙏

[2021-04-12 17:09] Numpsy opened #38 "Create an F# client using just a HttpClient / Interop with HttpClientFactory"
Hi,

I've only had a brief go with Snowflaqe so far and might be jumping in a bit quickly, but in case this counts a an interesting or reasonable thought:

I have an existing REST API using ASPCore and NSwag/OpenApi, and am having a play with GraphQl to see if it can simplify some things.
The consumers of that are using NSwag to generate C# client classes, and use HttpClientFactory with typed clie

[2021-04-12 17:17] Numpsy opened #39 "Generated F# client throws NullReferenceException if the server returns an empty response"
Hi,

I fell over this by accident when I pointed the client at the wrong server endpoint - if the server doesn't return any response content (for example, because it has returned a 404 status), then I get a NullReferenceException thrown from

https://github.com/Zaid-Ajaj/Snowflaqe/blob/2da41cfcfcf95cfa711cf676767e55adb485a3da/src/CodeGen.fs#L1088

because ```responseJson``` is null.

[2021-04-12 18:34] Zaid-Ajaj commented on #38
Hi @Numpsy this sounds like a nice addition to the generated client. It is a minor issue but I guess another constructor won't hurt and we can set the url to use the base url of the input client. Will be happy to accept PRs for this one 😉

[2021-04-12 18:36] Zaid-Ajaj commented on #39
Not sure how to fix this exactly, I can return or throw an empty error but I don't think Snowflaqe should do start doing introspection to make sure this is indeed a GraphQL client 🤔 any ideas? I kinda assume / expects to know this URL since it is the same one / same host used in the configuration

[2021-04-12 23:20] Numpsy commented on #39
It was setup error when I was testing, but I think it won't always be the same host as in the config (I mean as in, I run the generator against a dev system to generate the client, but the client gets used against a server that's elsewhere)... it's still a config error, but I just thought that NullReferenceException wasn't very 'friendly'/explanitory.

I actually tried to see if the same thing can

[2021-04-13 12:57] Zaid-Ajaj commented on #39
maybe we can search the response headers and looks for content-type, then throw an exception (regardless of #29) if it is anything but application/json (or if it is text/html etc.)

[2021-04-14 18:47] anthony-mi commented on #34
Changed fsproj generation to props - everything works.
![Screenshot_124](https://user-images.githubusercontent.com/65635298/114762961-f7895980-9d6a-11eb-86de-22d42eb88aa5.png)
![Screenshot_129](https://user-images.githubusercontent.com/65635298/114762966-f8ba8680-9d6a-11eb-8bac-9b1d23c3d7e1.png)

[2021-04-19 08:53] xperiandri opened #41 "Can we make Snowflaqe as Myriad plugin?"
https://github.com/MoiraeSoftware/myriad

[2021-04-19 09:01] Zaid-Ajaj commented on #41
Currently a non-goal of Snowflaqe because Myriad doesn't generate projects, doesn't support generating multiple projects and is limited to generating a single file.

Please add motivation of these feature requests:
 - Why they are needed
 - What is the added value
 - Why they are better than the current implementation

[2021-04-19 13:10] Zaid-Ajaj opened #42 "Query using unions not being validated correctly even though it works"
Schema https://gist.github.com/Zaid-Ajaj/f55653722cf5424c55ee94ba34b45b81

Query https://gist.github.com/Zaid-Ajaj/e9d907fb349c1a3f1835995ed76b7db2

Result JSON https://gist.github.com/Zaid-Ajaj/78356392b70c5ebb74c9578f6573c8be

[2021-04-19 15:50] Zaid-Ajaj commented on #42
Fixed as of v1.20 🚀

[2021-04-19 15:50] #42 closed

[2021-04-21 21:50] Numpsy commented on #39
That sounds reasonable (I'm not sure if i'm overcomplicating things after spending all together too much time lately on error handling related stuff, it just seems 'unfortunate' when things like serialization library specific exceptions escape (e.g. things that might differ depending on if you use Newtonsoft or System.Text.Json or whatever).

On a sort of related note - I saw your Twitter post abo

[2021-04-21 23:08] Zaid-Ajaj commented on #39
Using the current implementation shouldn't result in any JSON deserialization errors. That is when the response is actually JSON :joy:

I am thinking of using a mocking library at the end but I don't want to mock methods at the HTTP level and return JSON responses (what MockHTTP does) because the generated client deals with typed inputs and responses.

Consider this piece of code that uses the gen

[2021-04-25 20:29] xperiandri commented on #35
Good sample https://github.com/Arshia001/FSharp.GrpcCodeGenerator/tree/main/Grpc-FSharp.Tools

[2021-04-28 12:39] Numpsy commented on #39
Seems reasonable to abstract mocking libraries and such away.

For comparison, the generator i'm using for C# Rest clients can generate things like

[code]

and a lot of the callers use the interfaces and are tested with alternate interface implementations (created manually using ```Moq``` or just test specific classes).

There are a few cases (not that many) that use HttpClients set up to return

[2021-04-28 12:41] Numpsy commented on #39
Not sure how useful that is, but: Something simple built in to do general cases sounds nice, and nothing there prevents anything more specialised being done if it happens to be needed.

[2021-05-02 09:49] OkayX6 opened #43 "GraphQL files with kebab cases generate incorrect F# code"
I had a file like this:
![image](https://user-images.githubusercontent.com/1169339/116808089-31c36b00-ab61-11eb-9435-3d3a4c260fd0.png)

And the generated FS code was this (picture from my Git DIFF, can you reason about it enough?) :
![image](https://user-images.githubusercontent.com/1169339/116808187-a4344b00-ab61-11eb-9f39-74724a0cd0ba.png)

Obviously they didn't compile, so I just escaped the id

[2021-05-02 15:34] Akash-Mair opened #44 "Cant build project with SAFE template (3.0.0-beta004) template"
Hey!

I was following the github-api example and able to generate the files and run a dotnet restore on the output.
When I do `dotnet run` the build fails with:
[code]

Find the example code base
https://github.com/Akash-Mair/snowflaq-demo

[2021-05-02 16:35] Zaid-Ajaj commented on #43
Hi @OkayX6, thanks for filing the issue! This should be a simple fix. As a workaround (without changing the file name) you can give queries or mutations names from within the query itself which will be the name of the function in the client and the corresponding modules. Instead of

query { }

write

query KanbanContent { }

[2021-05-02 16:38] Zaid-Ajaj commented on #44
Hi @Akash-Mair this is a configuration error: the generated project by Snowflaqe had target "fsharp" but it was referenced from from a Fable project which doesn't work because the fsharp target is specific to dotnet F#. To fix this, you have to configure target to be "fable" or omit the property altogether from the config file

[2021-05-02 16:38] #44 closed

[2021-05-03 00:53] #43 closed

[2021-05-03 00:54] Zaid-Ajaj commented on #43
Snowflaqe v1.21 is released and it fixes this issue. Please give it a try and let me how it works for you 😉

[2021-05-17 23:06] Zaid-Ajaj commented on #34
Added option `createProjectFile` to implement this feature thanks to @anthony-mi where the value `false` makes snowflaqe output a props file instead of a project (see docs in readme)

[2021-05-17 23:06] #34 closed

[2021-05-18 12:30] Zaid-Ajaj commented on #41
Labeled as "won't fix" since I don't feel like maintaining and building both a CLI tool _and_ a Myriad plugin and having to keep up with its dependencies.

[2021-05-18 12:30] #41 closed

[2021-06-02 09:51] Zaid-Ajaj commented on #8
@xperiandri these types are specific to [hasura](https://hasura.io), snowflaqe knows about them and translates them accordingly

[2021-06-14 11:45] Numpsy commented on #31
Is https://github.com/Numpsy/Snowflaqe/commit/d4f91f78efe5b526d2961fc6d5243cd71fa8d3ed the right sort of thing?

Notes:

- I'm largely making it up as I go along, and am not certain what stringBuffer is giving you in some cases.
- Is Async.AwaitTask/Async.RunSynchronously the approach you'd want with tasks? (When I've done the sync-over-async thing with tasks in C# it was using the GetAwaiter().Ge

[2021-06-14 12:59] Zaid-Ajaj commented on #31
@Numpsy you are on the right track, here is a checklist from the top of my head:
 - don't worry about stringBuffer, it just concatenates the strings
 - when checking `if isNull parsedJson.["asyncReturnType"] || string parsedJson.["asyncReturnType"] = "async"`, the expression `string parsedJson.["asyncReturnType"]` should be lower-cased (same when validating)
 - should return a parse error if `asyn

[2021-06-14 14:12] Numpsy commented on #31
I'd thought it did, but then it looked like some of the existing uses only contain a single string, so I wasn't sure if I was missing something :-(

Hmm, I copied that from the existing code @ https://github.com/Zaid-Ajaj/Snowflaqe/blob/c02fd6ef4010ab2ad7773ea2db5aa28ba6558596/src/Program.fs#L106 and had missed that it lower cases the string when validating and not when using it (so it seems that

[2021-06-14 14:29] Zaid-Ajaj commented on #31
Yes, that's a bug!

[2021-06-15 15:30] Numpsy commented on #31
Considered resolved by merging #47 ?

I'd wondered about adding CancellationToken parameters to the Task returning variants of the functions, but that could be a seperate change if needed.

[2021-06-16 10:24] Zaid-Ajaj commented on #31
This is resolved and tested locally! thanks a lot @Numpsy ❤️ you can try this out as of v1.26

[2021-06-16 10:24] #31 closed

[2021-06-16 10:24] Zaid-Ajaj commented on #31
Let's worry about the cancellation token in a different issue 😉

[2021-06-16 10:58] Zaid-Ajaj commented on #36
Adding System.Text.Json now works since #48 was merged in. Only adding `FSharp.SystemTextJson` is left for resolving this issue

[2021-06-17 21:24] xperiandri commented on #38
@Numpsy do you mean passing `HttpClient` with `BaseAddress` set to GraphQL endpoint?

[2021-06-17 21:29] xperiandri commented on #33
Is it fixed?

[2021-06-18 00:26] Zaid-Ajaj commented on #33
Nope, didn't have time for it. Feel free to submit a PR for it 😄 it should be another boolean option. Maybe "nestedModuleTypes"? 🤔 where true is default, false -> generates namespaces instead

[2021-06-18 07:09] xperiandri commented on #33
Could you point to the line where it happens?

[2021-06-18 08:13] Zaid-Ajaj commented on #33
It happens here in the function `CodeGen.generateQualifiedModule`:
https://github.com/Zaid-Ajaj/Snowflaqe/blob/master/src/Program.fs#L421

[2021-06-18 10:04] Numpsy commented on #38
Yes.
As it stands now you can pass a null URL string to the graphql client constructor and that seems to work ok (though not necessarily obvious from the outside that that is allowed?), and you can wire it in to the DI infrastructure in ASP.Net Core and such using IHttpclientFactory by doing something like:

[code]

A additional constructor that just takes a ```HttpClient``` might avoid the null t

[2021-06-18 10:07] xperiandri commented on #38
@Zaid-Ajaj I think it is a good idea. We can add this into the latest PR

[2021-06-18 10:13] Zaid-Ajaj commented on #38
Adding another constructor accepting only `HttpClient` sounds good, since it is not a breaking change. Then we can for example use base url / base address to initialize the `url` parameter. No need for another config option to implement this ✔️

[2021-06-18 10:14] Zaid-Ajaj commented on #38
@Numpsy I do wonder though, when you say:
[code]
Where exactly do you provide the endpoint of the GraphQL API?

[2021-06-18 10:25] xperiandri commented on #38
[code]

[2021-06-18 10:26] xperiandri commented on #38
@anthony-mi

[2021-06-18 10:51] Numpsy commented on #8
Hi,

On a related note to this:

I had a go at generating a client for a GraphQl service written using [Hot Chocolate](https://chillicream.com/docs/hotchocolate) and I notice that properties defined on the server as C# ```long``` are represented in the generated schema as a custom scalar type ```Long``` (there is some documentation about that at https://chillicream.com/docs/hotchocolate/v10/schema

[2021-06-18 11:04] Numpsy commented on #38
That's basically it, though i'm currently using the named client version together with services.AddScoped, e.g.

[2021-06-18 11:07] Zaid-Ajaj commented on #38
@Numpsy if you want to avoid passing null, wouldn't you just do this:
[code]
🤔

[2021-06-18 20:24] xperiandri commented on #38
@Zaid-Ajaj can we substitute headers with `HttpClient` parameter? Will not there be to many constructors if we leave headers?

[2021-06-18 22:57] Zaid-Ajaj commented on #38
What headers?

[2021-06-18 23:02] xperiandri commented on #38
You have 2 parameters for Newtonsoft client:
* URL
* headers

I propose:
* URL
* httpClient

[2021-06-18 23:27] Zaid-Ajaj commented on #38
The first combo of `Client(url: string)` and `Client(url: string, headers: Header list)` is only for _Fable_ targets which don't have `HttpClient`, so to customize the underlying requests, you can only modify the headers. The `Header` type from the constructor is coming from Fable.SimpleHttp (again, Fable only packages)

The second combo is for _fsharp_ targets where users can access and provide `

[2021-06-18 23:28] xperiandri commented on #38
Ah, got it

[2021-06-19 15:39] xperiandri commented on #8
Must be a simple fix

[2021-06-20 21:21] xperiandri commented on #29
I don't think it is necessary

[2021-07-12 16:53] Zaid-Ajaj commented on #8
@Numpsy I've fixed this issue in latest Snowflaqe v1.27 it should now handle `Long` as `int64` please give it a try and confirm whether it works for you or not.

[2021-10-19 22:16] xperiandri opened #52 "Use native F# 6 `task` CE only"
I propose to discontinue `async` CE and Ply CE code generation and simplify code to use native F# 6 `task` CE

https://devblogs.microsoft.com/dotnet/whats-new-in-fsharp-6/#making-f-faster-and-more-interopable-with-task

[2021-10-25 17:25] Zaid-Ajaj opened #53 "Pass CancellationToken when asyncReturnType = "task""
Allow for extra parameter taking a `CancellationToken` in the GraphQL operations when using `asyncReturnType="task"`

[2021-10-25 17:48] Zaid-Ajaj opened #54 "Use Microsoft.Extensions.Logging (ILogger) when printing out the messages"
This is in order to make the error messages / warnings available from the Snowflaqe.Tasks project

[2021-11-04 13:50] bdaniel7 opened #55 "Complex object for errorType?"
Is there a way to configure the errorType to be a more complex object?
Like an array/list of error objects.
[code]

[2021-11-04 15:43] Zaid-Ajaj commented on #55
Yes! See [the docs here](https://github.com/Zaid-Ajaj/Snowflaqe#custom-error-type)

[2021-11-04 15:49] Zaid-Ajaj commented on #55
In your case, it would be
[code]
As for `locations`, there isn't a generic way to describe such type (list of other complex objects) but it should be doable to add if you _REALLY_ need it

[2021-11-08 11:03] bdaniel7 opened #56 "Query with parameters gives 400: Bad Request"
When I'm using a query with parameters, I'm getting an error: ```{ message = "400: Bad Request" }```
[code]
When I'm not using parameters, that errors is gone, test is green.
[code]
So maybe the resulting query text is not correctly generated.
From Fiddler I see that the generated query looks like in the attached file:
[query.txt](https://github.com/Zaid-Ajaj/Snowflaqe/files/7496407/query.txt)

[2021-11-08 11:23] Zaid-Ajaj commented on #56
Hi @bdaniel7, can you please a bit more information about your query:
 - Are you targeting F# or Fable?
 - Does the backend say anything else other than 400 bad request?

I see something interesting, the type `Imo`, is that a custom scalar? Because custom scalars are usually strings but in your query without parameters, it looks like it is an integer, maybe that's the issue?

[2021-11-08 11:49] bdaniel7 commented on #56
I'm targeting F#.
The error from server is ```{"errors":[{"message":"400: Bad Request","extensions":{"code":"INTERNAL_SERVER_ERROR"}}]}```
The Imo is a scalar
[code]
Indeed, in Postman when I use the variable {"imo": 9758428} it works, when I use it { "imo": "9758428" } I'm getting the Bad request error.

So I've changed the definition of
type InputVariables = { imo:  string } to { imo: int } and

[2021-11-08 13:04] Zaid-Ajaj commented on #56
Custom scalars are almost always strings unless they are _known_ custom scalars such as BigFloat, Decimal, DateTimeOffset etc. So your server has to accept strings or be able to convert the string value to the required type (`string` to `int` in your case)

[2021-11-08 13:04] #56 closed

[2021-11-08 13:05] Zaid-Ajaj commented on #55
I believe this is resolved as well? I'll close the issue, please re-open if the problem persists

[2021-11-08 13:05] #55 closed

[2021-11-08 13:14] Zaid-Ajaj commented on #55
@bdaniel7 Didn't the proposed solution work for you?

[2021-11-08 13:30] bdaniel7 commented on #55
Hmm, I see now that it does fill the error object:
[code]
Ok, I will use the custom error object as you recommended, thank you.

[2021-11-14 09:30] #35 closed

[2021-11-14 09:31] xperiandri opened #57 "[MSBuild] task cache is written with extra slash"
[code]

[2021-11-14 09:46] xperiandri opened #58 "[MSBuild] Smart way to generate code only if changed"
I suppose we need to create a cache file with the MSBuild task version and a map of the file name and its hash.
In the next generation, the task will read the cache and compare the MSBuild task version. If it is different then remove all and generate.
Then compare files lists, if they are equivalent then hash each file and compare hashes.
If lists are different or any GraphQL file is different, th

[2021-11-14 09:51] xperiandri opened #59 "[MSBuild] Add task to delete all generated code on Visual Studio `Clean` command"
We need to check if it is possible to add an MSBuild task that is only executed while selecting Clean action in Visual Studio but not on Build or Rebuild

[2021-12-01 08:40] l3m opened #61 "Tags is not a valid name for a DU case"
The F# compiler does not allow a union case called Tags as it's a member used internally. Aa related issue with some discussion can be found [here](https://github.com/fsharp/fslang-design/blob/main/RFCs/FS-1079-union-properties-visible.md)

Snowflaqe generates a Tags DU member if the GraphQL endpoint has a corresponding name (I stumbled upon it for the monday.com api).

This will cause Snowflaqe t

[2021-12-02 00:33] #61 closed

[2021-12-02 00:35] Zaid-Ajaj commented on #61
Hi @l3m, thanks for filing the issue. Fixed as of Snowflaqe v1.33 :rocket: Now generated case name is `TAGS` but the compiled name stays `Tags` so the runtime will keep working. I guess this is a rare edge case so `TAGS` isn't too bad to work with, I hope 🙏

[2022-01-18 15:11] petrkoutnycz opened #62 "CompiledName attribute not working for union type members"
Generated union types currently contain members with different casing than the original enums.
Problem is that `CompiledName` attribute does not work with members of union type. It works with values and functions.

### Example

Following code shows that value of `PPA` generates a property `Ppa` which causes a problem during the runtime.

`enum MyEnumType {
Shopping
PPA
}`

produces

`type ProductL

[2022-01-19 13:43] Zaid-Ajaj commented on #62
The JSON serializers at runtime _know_ about `CompiledName` and it should work fine.

Are you targeting F# on dotnet or Fable?

Is your generated type missing `[<Fable.Core.StringEnum>]`? It should be there.

I will need more information in order to debug your issue. Snowflaqe config,  JSON returned from the GraphQL API, the runtime error you are getting and how the GraphQL schema looks like.

[2022-01-21 08:37] petrkoutnycz commented on #62
I'll try to prepare minimal project and share a link.

[2022-01-24 09:02] petrkoutnycz commented on #62
Generally, I dont think it is necessary to change the original casing.

[2022-01-27 09:41] petrkoutnycz commented on #62
I confirm that there is no exception with `newtonsoft` serializer, though the result is not successful and contains null values.

[2022-01-27 12:47] Zaid-Ajaj commented on #62
Hmm that's interesting. Not sure why this would happen, the `newtonsoft` serializer definitely understands `CompiledName`. The only way for me to debug this, is if I have the JSON content and the types that you are trying to deserialize to. Let me test things out and see why this is happening

[2022-01-27 13:02] petrkoutnycz commented on #62
I'd say that it'd be easier to skip the casing changes altogether to avoid such problems.

[2022-02-05 09:34] #62 closed

[2022-02-05 09:39] Zaid-Ajaj commented on #62
@petrkoutnycz unfortunately, GraphQL enums are not always valid as union case names by default. For example, they could be lower-case.

Until I've figured out why the serializers are failing in runtime, I've added a boolean option called `normalizeEnumCases` which is set to `true` by default (preserving current behavior) that determines whether changes to enum values should applied. To fix your is

[2022-02-08 07:08] petrkoutnycz commented on #62
Thank you, I really appreciate your quick response :-)

[2022-02-15 23:53] xperiandri commented on #57
@juriyx, @dim-37 have we fixed that?

[2022-03-02 12:55] FlavDumi opened #65 "Extensions of a response"
Can you make the GraphqlSuccessResponse have the extensions of a response? It only has the data so far.
In our case we need to read the extensions to know how much quota we still have available for the API.

![image](https://user-images.githubusercontent.com/36404980/156365227-b74a8801-e14d-4b60-91ec-b1ddaf055b86.png)

[2022-03-09 08:40] Zaid-Ajaj commented on #65
Hi there @FlavDumi, I understand the problem but the solution is not as straightforward I am afraid. Mainly because the shape of `extensions` is not part of the GraphQL schema (if I am not mistaken) so you would have to provide the shape in the configuration JSON like we do with the custom error type. Then we would have to extend the codegen module to also return `Result<Query * ExtensionsType, Er

[2022-04-19 19:28] Yakimych opened #67 "Handling of double-quoted Descriptions in SDL"
Hi! Maybe I am missing something, but I am getting errors when trying to run `snowflaqe --generate` off of a more-or-less standard HotChocolate `schema.graphql` file. There are a number of directives and scalars at the end of the schema file, preceded with comments:

[code]

The first error I get is
[code]

As far as I understand, those are just [Descriptions](http://spec.graphql.org/October2021/#

[2022-04-19 19:43] Zaid-Ajaj commented on #67
Hi @Yakimych it could be that the GraphQL parser that Snowflaqe uses is parsing an older spec of GraphQL. What you could do is download the schema, not as SDL but as JSON. From the README docs about the `<schema>`:

Can you give this a try?

[2022-04-19 19:46] Yakimych commented on #67
Hi @Zaid-Ajaj ,

Thanks for the quick reply! Yep, I've tried it with JSON and it seemed to work fine, it's the SDL that is the problem though.

[2022-04-19 20:12] Yakimych commented on #67
@Zaid-Ajaj,

After some quick digging, it looks like you are right - it's only Descriptions that are not parsed correctly. The quoted syntax was introduced in the June 2018 version of the spec: http://spec.graphql.org/June2018/#sec-Descriptions. The older syntax with `# Description` works with snowflaqe.

I will update the name of the issue and remove mentions of "Scalars" and "Directives".

[2022-04-19 20:21] Zaid-Ajaj commented on #67
Thanks @Yakimych for looking into this. I will look for a fix when time permits 😄

[2022-04-19 21:35] Yakimych commented on #67
Great, thanks!

[2022-04-21 15:46] Yakimych commented on #67
@Zaid-Ajaj We've bumped the GraphQL-dotnet package and it seems to fix the problem. A PR coming up tonight: https://github.com/danielstarck/Snowflaqe/tree/update-package

[2022-05-03 17:42] njlr commented on #58
I would definitely keep an eye on Bazel, which excels at this kind of thing. The F# rules are still pretty early though: https://github.com/bazelbuild/rules_dotnet

[2022-05-09 22:33] #67 closed

[2022-05-26 10:56] Yakimych opened #70 "Schema with unions throws NullReferenceException"
Hi!
Looks like it is currently not possible to generate a client from a schema that contains Union types. In Snowflaqe we get a `Object reference not set to an instance of an object`, but we (@margaretkrutikova and @danielstarck) tracked it down to the [following line](https://github.com/graphql-dotnet/graphql-dotnet/blob/76de3aed813807d91f21fa636da84452434c78b0/src/GraphQL/Types/Collections/Schem

[2022-05-26 14:15] Yakimych commented on #70
Hi @Zaid-Ajaj, and thanks for the quick reply! Unfortunately it might not be a regression (at least not in the latest version), as I've tried both 1.36.0 as well as 1.34.0, and both return the same error message.

I've tried running both versions against a JSON-schema as you suggested, and both work smoothly. Not sure if it helps though, since the operation that fails is the one that is trying to

[2022-05-28 15:01] MargaretKrutikova commented on #70
@Zaid-Ajaj unfortunately we need to use our SDL since we don't expose introspection query in our environment.

Me and @danielstarck have tested `fromSchemaDefinition` more now and it doesn't seem to work with either interfaces or unions. The reason behind this is that `graphql-dotnet` expects to see either `ResolveType` on the parent type (union or interface) or `IsTypeOf` on the union cases/inter

[2022-05-28 15:18] Zaid-Ajaj commented on #70
@MargaretKrutikova thanks a lot for digging into this! It saves me a lot of time debugging 🙏 I understand the problem better now and the fix looks great to me, if you include it in the PR #69, I would be happy to merge and publish a new version of Snowflaqe

[2022-05-28 21:14] MargaretKrutikova commented on #70
I created a different PR since I don't have access to that fork. Any feedback is greatly appreciated 🙂

[2022-05-28 23:01] #70 closed

[2022-06-04 14:53] MargaretKrutikova opened #72 "Exception when using custom scalars inside .graphql schema"
Type generation fails with `Unable to resolve reference to type MyCustomScalar` if the schema contains custom scalars. This happens only if using `.graphql` schema when calling `Introspection.fromSchemaDefinition`. The reason for this is that when using schema first in `graphql-dotnet` you have to register your custom scalars directly after parsing the schema, [here](https://graphql-dotnet.github.

[2022-06-04 21:58] Zaid-Ajaj commented on #72
I think I like the first approach better and a PR would be appreciated 👍 less fond of the second approach because then we two ways of inferring types from a schema and I would like to not depend on the parser of graphql-dotnet

[2022-06-04 23:12] MargaretKrutikova commented on #72
Understood, I will prepare a PR with the first approach.
Any particular reason you don't want to depend on the parser from `graphql-dotnet`? Just wondering for educational purpose 🙂

[2022-06-04 23:39] Zaid-Ajaj commented on #72
I would rather rely on deriving the types from the result of the standard introspection query because the output of it is predictable and won't change based on different versions of a specific parser, `graphql-dotnet` in this case

[2022-06-05 09:27] MargaretKrutikova commented on #72
It got me thinking, can we avoid depending on `graphql-dotnet` all together and use some other tool to convert from `.graphql` to `.json`? Or in the worst case write it ourselves in `F#` 😆 It seems like we are tweaking `graphql-dotnet` to make it become a valid graphql server and the only thing we want from it is the introspection query.

[2022-06-05 09:46] Zaid-Ajaj commented on #72
I would rather not have to write and maintain my own parser if possible to replace the one from graphql-dotnet. Tweeking it is a lot easier than rebuilding it, although I agree it is not ideal.

[2022-06-06 08:28] #72 closed

[2022-09-17 10:48] xperiandri opened #74 "Use Templatus for F# code generation"
https://github.com/kerams/Templatus

[2022-09-17 11:58] Zaid-Ajaj commented on #74
Is there any reason why?

[2022-10-07 15:59] Yakimych commented on #39
Hello folks! We ran into this during a mob session the other day, and it wasn't trivial to understand the issue. Even debugging generated code did not give any hints (due to the function calls being async). The issue was that we're generating the client off a statically build schema file, and not by introspecting a running an endpoint. In any case, it was as simple as "forgetting" `/graphql` at th

[2022-11-02 22:56] Zaid-Ajaj commented on #39
@Yakimych I think this is not sufficient to check for the error because non-2xx status codes are still valid GraphQL responses. I don't know how exactly to "fix" this. It is a matter of configuring the tool correctly.

[2022-11-02 23:49] Yakimych commented on #39
Sure, I understand the problem from this perspective.

I don't think this is fair, however. The tool may be configured correctly for generating code statically, but in a real-world scenario the generated code may be run against many different deployed versions of the same API (master, feature branches, staging, live, etc.). Introspecting all of those might not always be possible (introspection dis

[2022-11-24 13:04] gmlion opened #76 "Problems when using generated input types from Hasura backend"
I'm facing several issues trying to execute mutation on a F# backend towards Hasura, sending instances of the generated input types, such as
[code]

When using default serializer Newtonsoft.Json, it throws an exception `A member with the name 'anotherType' already exists on 'KrevS2Graphql.SkillModelVersion_insert_input'. Use the JsonPropertyAttribute to specify another name.`

When using System.Te

[2022-11-24 17:53] gmlion commented on #76
I think I found the root problem for the last stopper
https://github.com/Tarmil/FSharp.SystemTextJson/issues/140

[2022-11-25 21:09] Zaid-Ajaj commented on #76
Hi there @gmlion thanks for filing the issue! I am able to reproduce it locally with a console app as follows:
[code]
This is an issue in Fable.Remoting.Json, the specialized JSON serializer used in generated clients. It looks like we don't handle records in any special way and default to whatever Newtonsoft.Json does. Being unable to serialize this trivial type is not ideal. I'll have a look at i

[2022-11-25 23:27] #76 closed

[2022-11-25 23:28] Zaid-Ajaj commented on #76
Fixed as of Snowflaqe v1.41 🚀 which should work using the default (newtonsoft) serializer. Please take it for a spin and let me know how it goes 😁